:root{
    --dark: #002301ff;
    --heading: #014A13ff;
    --light: #21C47Bff;
    --border: #14A45Cff;
    }

.custom-navbar {
    background-color: var(--dark) !important;
    padding-left: 0px;
}

.custom-navbar-brand {
    background-color: var(--light) !important;
    color:var(--dark) !important;
    padding-left: 180px;
    padding-right:30px;
}

.custom-navbar-nav a {
    color: var(--light) !important;
}

.custom-jumbotron {
    background-image: url(lisa-yount-zcZPjDqG-Ao-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0px;
}

.tagline {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    margin-top: 150px;
}